# Ignore Gradle project-specific cache directory
.gradle
.idea/workspace.xml
.idea/

# Ignore Gradle build output directory
build

# Configure
app/src/main/resources/application.yml
app/src/main/resources/application-oauth.yml